extends layout

block content
  div(class='page groups-bg')
    div(class="title-font text-center")
        h1 Thank you Santa for sending #{item.name}!
    div(class="row mx-auto w-50")
        div(class="col")
            each rating in [1, 2, 3, 4, 5]
                div(class="card")
                    div(class="card-body")
                        h6(class="card-subtitle mb-2 text-muted")
                            a(href="#" onClick='fetch("/crud/group_users/#{group_info.group_id}/#{user.id}", { method: "PUT", headers: {"Content-Type": "application/json" }, body: JSON.stringify({is_admin: #{group_info.is_admin}, item_id: #{group_info.item_id}, rating: #{rating}})}).then(response => response.json()).then(data => { if (data.message === "success") { window.location.href = "/group/#{group_info.group_id}"; } });',role="button",class="btn btn-primary mb-3") Rate it #{rating} star(s)!
