extends layout

block content
  div(class='page groups-bg')
    div(class="title-font text-center")
        h1 Item Recommendations
    div(class="row mx-auto w-50")
        div(class="col")
            div(class="card")
                div(class="card-body")
                    h5(class="card-title") #{group.group_name}
                    h6(class="card-subtitle mb-2 text-muted") Price Limit: #{group.price_limit}, Deadline: #{moment(group.deadline_at).format('YYYY-MM-DD')}
            each item in items
                div(class="card")
                    div(class="card-body")
                        h6(class="card-subtitle mb-2 text-muted")
                            a(href="#{item.url}") #{item.name}, #{item.price}
